body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.page-navbar,
.page-content,
.page-footer,
.navbar-content,
.navbar-links,
.navbar-links-list {
  display: flex;
}

.page-navbar {
  background-color: #1F2937;
  padding-left: 3rem;
  padding-right: 3rem;
}

.navbar-content {
  flex: 1;
  justify-content: space-between;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
}

.navbar-logo {
  color: white;
  font-weight: bold;
}

.navbar-links-list a {
  color: #E5E7EB;
}

.navbar-links-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap: 0.5rem;
}

.page-content {
  flex: 1;
  padding-left: 3rem;
  padding-right: 3rem;
}

.page-footer {
  display: flex;
  justify-content: center;
  background-color: #1F2937;
  padding-left: 3rem;
  padding-right: 3rem;
}

.footer-content {
  justify-content: center;
  color: #E5E7EB;
  padding: 1rem;
}